Source: kuranoku
Maintainer: mobilturka <muslimlinux@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 1.0
Section: utils

Package: kuranoku
Priority: extra  
Architecture: all
Depends:
Description: kuranoku
 Quran Arabic for Debian based distros
